.row-poster {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  object-fit: contain;
}

.row-poster::-webkit-scrollbar {
  display: none;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  font-size: 10px;
  margin-top: -50px;
  background-color: black;
  padding: 18px;
  border-radius: 50%;
  // color: #fff;
  // background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}
// .carousal-width {
//   width: calc(100% / 6);
// }

// .carousal-prev {
//   transform: translateY(90%);
//   left: -9px;
// border-radius: 50%;
// }

// .carousal-next {
//   transform: translateY(-100%);
//   right: -9px;
// }
